<section>
    <h1>Upcoming Conferences</h1> 

    <a href="http://sunshinephp.com" title="I am speaking at SunshinePHP. February 8th - 9th, 2013 | Miami, Florida" target="_blank"><img class="center" src="http://sunshinephp.com/images/propaganda/2013/speaker_badge.png" alt="I am speaking at SunshinePHP. February 8th - 9th, 2013 | Miami, Florida" width="180" height="139" /></a>

<a href="http://midwestphp.org" title="I am speaking at MidwestPHP - March 2-3, 2013 | St. Paul, Minnesota" target="_blank"><img class="center" src="http://www.midwestphp.org/badges/speaker.png" border="0" alt="MidwestPHP" /></a>
</section>
