// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#header-replace {
    text-indent: -9999px;
}

#header-replace a {
    display: block;
    width: 370px;
    height: 58px;
    background: url(../images/BlogHeader.png) no-repeat;
}

.space-top {
    margin-top: 12px;
}